.mainpic {
  width: 100vw;
  height: 50vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;

  .main {
    display: flex;
    justify-content: center;

    img {
      width: 100vw;
      height: 46.8vw;
    }

    .txtbox {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 30;
      font-family: "Pretendard Variable", Pretendard, -apple-system,
        BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
        "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic",
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;

      h3 {
        color: white;
        font-size: 40px;
      }

      button {
        width: 194px;
        height: 64px;
        border: none;
        border-radius: 50px;
        transition: all 0.3s;
        font-size: 21px;
        font-weight: 500;
        font-family: "Pretendard Variable", Pretendard, -apple-system,
          BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
          "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic",
          "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
      }

      button:hover {
        cursor: pointer;
        background-color: #fc4c02;
        color: white;
      }
    }

    .black {
      width: 100vw;
      height: 46.8vw;
      position: absolute;
      top: 0;
      background-color: rgba(0, 0, 0, 0.4);
    }

    .gradient {
      position: absolute;
      bottom: -5.8vw;
      width: 100vw;
      height: 15vw;
      background: linear-gradient(
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 1) 40%,
        rgba(0, 0, 0, 1) 100%
      );
    }
  }
}

@media screen and (max-width: 1600px) {
  .mainpic {
    height: 800px;

    .main {
      img {
        width: 1600px;
        height: 750px;
      }

      .black {
        height: 750px;
      }

      .gradient {
        height: 240px;
        bottom: -92.8px;
      }
    }
  }
}
