.signup {
  // border: 1px solid blue;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;

  form {
    width: 450px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;

    h4 {
      margin: 0 118px 60px 118px;
      font-size: 40px;
      font-weight: 600;
    }

    input {
      height: 54px;
      margin-bottom: 8px;
      padding: 0 10px;
      font-size: 16.7px;
      border: 2px solid rgb(224, 224, 224);
      border-radius: 5px;
      outline: none;
    }

    input::placeholder {
      color: rgb(180, 180, 180);
      font-weight: 500;
      font-size: 16.7px;
      font-family: "Pretendard Variable", Pretendard, -apple-system,
        BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
        "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic",
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    }

    .nameinput {
      margin-top: 40px;
    }

    button {
      height: 54px;
      margin-top: 10px;
      background-color: #000080;
      opacity: 0.5;
      color: white;
      border: none;
      border-radius: 5px;
      font-size: 19px;
      font-weight: 500;
      font-family: "Pretendard Variable", Pretendard, -apple-system,
        BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
        "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic",
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    }

    button:hover {
      cursor: pointer;
    }
  }
}
