.home {
  width: 100vw;
  // height: 2000px;
  display: flex;
  flex-direction: column;
  // position: relative;
  // overflow-x: hidden;

  .btnwrapper {
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: end;
    z-index: -100;
  }
}
