.home-recruit {
  height: 1300px;
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;

  .faq {
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
      text-align: center;
      font-size: 55px;
      margin-top: 70px;
      margin-bottom: 70px;
    }

    ul {
      width: 1200px;
      border-top: 1px solid #e1e8ef;
    }
  }
}
