.imagecard {
  width: calc(50vw - 30px);
  height: calc(60vw - 36px);
  padding: 30px;
  //   border: 1px solid white;
  position: relative;
  margin: 7px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.3);

  img {
    width: 100%;
    height: 70%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
  }

  .gray {
    width: 100%;
    height: 70%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.15);
    z-index: 3;
  }

  .white {
    width: 100%;
    height: 30%;
    background-color: white;
    position: absolute;
    padding: 11px;
    left: 0;
    bottom: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    h4 {
      font-size: 16px;
    }

    h5 {
      font-size: 12.5px;
      color: rgb(159, 159, 159);
      margin-top: 4px;
      font-weight: 500;
    }
  }
}

@media all and (max-width: 430px) {
  .imagecard {
    .white {
      padding: 8px;
      h4 {
        font-size: 14px;
      }

      h5 {
        font-size: 10.5px;
      }
    }
  }
}
