.slide {
  // border: 1px solid red;
  width: 100vw;
  height: calc(24.48vw + 156px);
  padding: 0 5.48vw;
  display: flex;
  flex-direction: column;
  position: relative;

  .leftarrow {
    width: calc(13.28vw - 5.2vw);
    height: calc(24.48vw + 156px);
    background-color: white;
    z-index: 50;
    position: absolute;
    top: 30px;
    left: 0;
    // border: 1px solid red;
    display: flex;
    justify-content: center;
  }

  .rightarrow {
    width: calc(13.28vw - 5.2vw);
    height: calc(24.48vw + 156px);
    z-index: 50;
    background-color: white;
    position: absolute;
    top: 30px;
    right: 0;
    display: flex;
    justify-content: center;
  }

  .arrow {
    width: 5.2vw;
    height: 5.2vw;
    padding: 1.3vw;
    margin-top: calc(12.24vw - 40.865px);
  }

  .arrow:hover {
    cursor: pointer;
  }

  .imgs {
    position: absolute;
    top: 30px;
    display: flex;
    // justify-content: space-between;
    align-items: center;
    transition: all 0.5s;
    // margin-left: calc(100vw - 260px);

    // border: 1px solid green;

    div {
      // border: 1px solid black;
      // border-radius: 20px;
      // width: 24.48vw;
      height: calc(24.48vw + 56px);
      width: auto;
      // border: 1px solid orange;
      margin: 0 2.6vw;
      text-align: center;
      transition: all 0.5s;

      img {
        width: 100%;
      }

      h3 {
        margin-top: 10px;
        font-size: 22px;
        font-weight: 500;
      }
    }
  }

  .control {
    margin-top: 650px;
    display: flex;
    justify-content: center;
    align-items: center;

    .dots {
      display: flex;

      div {
        width: 8px;
        height: 8px;
        margin: 0 8px;
        border-radius: 50px;
        background-color: orange;
        color: red;
        transition: all 0.4s;
      }

      div:hover {
        cursor: pointer;
        background-color: white;
      }
    }

    .arrow {
      color: red;
      width: 33px;
      height: 33px;
      padding: 7px;
    }

    .arrow:hover {
      cursor: pointer;
    }
  }
}
