.slide {
  // border: 1px solid red;
  width: 200vw;
  height: calc(27.95vw + 101px);
  padding: 0 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  .leftarrow {
    width: 8.08vw;
    height: calc(27.95vw + 100px);
    background-color: white;
    z-index: 50;
    position: absolute;
    top: 30px;
    left: 50vw;
    // border: 1px solid red;
    display: flex;
    justify-content: center;
  }

  .rightarrow {
    // border: 1px solid red;
    width: 8.08vw;
    height: calc(27.95vw + 100px);
    z-index: 50;
    background-color: white;
    position: absolute;
    top: 30px;
    left: calc(150vw - 8.08vw);
    display: flex;
    justify-content: center;
  }

  .arrow {
    width: 5.2vw;
    height: 5.2vw;
    padding: 1.3vw;
    margin-top: calc(13.975vw - 40.865px);
  }

  .arrow:hover {
    cursor: pointer;
  }

  .imgs {
    position: absolute;
    top: 30px;
    left: 58.08vw;
    display: flex;

    // justify-content: space-between;
    align-items: center;
    transition: all 0.5s;

    // border: 1px solid green;

    div {
      // border: 1px solid black;
      // border-radius: 20px;
      width: 27.95vw;
      height: calc(27.95vw + 56px);
      // border: 1px solid orange;

      text-align: center;
      transition: all 0.5s;

      img {
        width: 100%;
        padding: 5vw;
      }

      h3 {
        margin-top: 0;
        font-size: 22px;
        font-weight: 500;
      }
    }
  }

  .control {
    margin-top: 650px;
    display: flex;
    justify-content: center;
    align-items: center;

    .dots {
      display: flex;

      div {
        width: 8px;
        height: 8px;
        margin: 0 8px;
        border-radius: 50px;
        background-color: orange;
        color: red;
        transition: all 0.4s;
      }

      div:hover {
        cursor: pointer;
        background-color: white;
      }
    }

    .arrow {
      color: red;
      width: 33px;
      height: 33px;
      padding: 7px;
    }

    .arrow:hover {
      cursor: pointer;
    }
  }
}
