.slide {
  width: 200vw;
  height: 440px;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  background-color: black;
  position: relative;

  .imgs {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    transition: all 0.5s;
    margin-left: calc(100vw - 260px);

    div {
      background-color: green;
      color: white;
      border-radius: 20px;
      text-align: center;
      width: 480px;
      height: 360px;
      margin: 0 20px;
      padding: 10px;
      transition: all 0.5s;

      h3 {
        font-size: 35px;
      }
    }

    .img4 {
      background-image: url("../../assets/images/act/fenbam.jpg");
      background-size: cover;
    }
  }

  // .center {
  //   width: 480px;
  //   height: 100px;
  //   margin-left: calc(100vw - 240px);
  //   background-color: orange;
  // }

  .control {
    // margin: 30px 0;
    margin-top: 400px;
    display: flex;
    justify-content: center;
    align-items: center;

    .dots {
      display: flex;

      div {
        width: 8px;
        height: 8px;
        margin: 0 8px;
        border-radius: 50px;
        background-color: white;
        transition: all 0.4s;
      }

      div:hover {
        cursor: pointer;
        background-color: white;
      }
    }

    .arrow {
      color: white;
      width: 33px;
      height: 33px;
      padding: 7px;
    }

    .arrow:hover {
      cursor: pointer;
    }
  }
}
