.act {
  // border: 1px solid green;
  background-color: black;
  width: 100vw;
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;

  div {
    // border: 1px solid red;
    // width: 1000px;
    // height: 500px;

    h3 {
      font-size: 20px;
    }
  }

  button {
    background-color: rgb(224, 155, 222);
    border: none;
    width: 230px;
    height: 55px;
    margin: 30px 0;
    border-radius: 30px;
    font-size: 19px;
    font-family: "Pretendard Variable", Pretendard, -apple-system,
      BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
      "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic",
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  }

  button:hover {
    cursor: pointer;
  }
}
