.recruit {
  width: 100vw;
  margin-top: 100px;

  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;

  div {
    margin-bottom: 50px;
    h3 {
      text-align: center;
      font-size: 35px;
      margin-bottom: 40px;
    }
  }

  .target {
    width: 970px;
    // border: 1px solid red;

    .targetbox {
      display: flex;

      div {
        width: 300px;
        height: 300px;
        margin: 0 12px;
        padding: 20px;
        background-color: rgb(244, 247, 250);
        border-radius: 20px;

        h3 {
          font-size: 22px;
        }

        h4 {
          font-size: 17px;
          font-weight: 400;
          margin-bottom: 10px;
        }
      }
    }
  }

  .schedule {
    .schedulebox {
      display: flex;

      div {
        width: 300px;
        height: 300px;
        margin: 0 12px;
        padding: 20px;
        background-color: rgb(244, 247, 250);
        border-radius: 20px;

        h3 {
          font-size: 22px;
        }

        h4 {
          font-size: 17px;
          font-weight: 400;
          margin-bottom: 10px;
          line-height: 140%;
        }
      }
    }
  }

  .note {
    padding-bottom: 50px;

    h4 {
      font-size: 18px;
      font-weight: 400;
      margin-bottom: 5px;
    }
  }

  .qna {
    li {
      display: flex;
      flex-direction: column;
      width: 970px;
      height: 98px;
      background-color: rgb(244, 247, 250);
      padding: 34.5px 30px 0 30px;
      margin: 15px 0;
      border-radius: 10px;
      font-size: 19px;
      font-weight: bold;
      transition: all 0.5s;

      .question {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0px;
        // border: 1px solid red;

        .downarrow {
          width: 27px;
          height: 27px;
          padding: 3px 2.5px 2px 2.5px;
          transition: all 0.5s;
          //   border: 1px solid red;
        }
        .downarrow:hover {
          cursor: pointer;
        }
      }

      .answer {
        margin-top: 25px;
        font-weight: 500;
        line-height: 140%;
        opacity: 0;
        transition: all 0.3s;
      }
    }
  }
}
